<div class="container w-75">
  <ol class="list-group list-group-numbered">
    <% @spaces.each do |space| %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold" style="color: #6096B4";><%= space.name %></div>
      </div>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <%= button_to 'Edit', edit_space_path(space.id), method: :get, class: "btn btn-outline-primary btn-sm" %>
        <%= button_to 'Delete', remove_space_path(space.id), method: :delete, class: "btn btn-outline-primary btn-sm" %>
      </div>
      <%# <span class="badge bg-primary rounded-pill">14</span> %>
    </li>
    <% end %>
  </ol>
</div>
