<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="#" style="color: #6096B4";>Co-Working</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" role="button">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find your space
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Manage my bookings</a></li>
              <%# <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rent your space
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Create my sapce</a></li>
              <li><a class="dropdown-item" href="#">Edit my space</a></li>
              <li><a class="dropdown-item" href="#">Manage my bookings</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="list-group">
    <% @space.bookings.each do |booking| %>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= @space.name %></h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1"><strong>Start:</strong> <%= booking.start_date %> <strong>End:</strong> <%= booking.end_date %></p>
        <small class="text-muted"><strong>Total price:</strong> €<%= booking.total_price %></small>
      </a>
    <% end %>
</div>
