<div class="sticky-top bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="#" style="color: #6096B4";>Co-Working</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" role="button">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Find your space
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/bookings" role="button">Manage my bookings</a></li>
              <%# <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rent your space
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/spaces/new" role="button">Create my space</a></li>
              <% if Space.find_by(user: current_user).present? %>
                <%# <% edit_href = "/spaces/#{Space.find_by(user: current_user).id}/edit" %>
                <li><a class="dropdown-item" href="/spaces/all">Edit my space</a></li>
              <% else %>
                <li><a class="dropdown-item" href="#">Edit my space</a></li>
              <% end %>
              <li><a class="dropdown-item" href="/bookings" role="button">Manage my bookings</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <div>
              <% if user_signed_in? %>
                <%= button_to "Logout",  destroy_user_session_path, method: :delete, class: "btn btn-light text-decoration-none" %>
              <% else %>
                <%= button_to "Login",  new_user_session_path, method: :get, class: "btn btn-light text-decoration-none" %>
              <% end %>
            </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
